Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb

! ======= colors ==========

!! Special
*.foreground: #cecccf
*.background: #111622
*.cursorColor: #d8dee9


! black
*.color0:   #1B2B34
*.color8:   #4F5B66

! red
*.color1:   #E06C75
*.color9:   #EC5F67

! green
*.color2:   #99C794
*.color10:  #99C794

! yellow
*.color3:   #FAC863
*.color11:  #FAC863

! blue
*.color4:  #6699CC
*.color12:  #6699CC

! magenta
*.color5:  #C594C5
*.color13:  #C594C5

! cyan
*.color6:  #5FB3B3
*.color14:  #5FB3B3

! white
*.color7:   #A7ADBA
*.color15:  #D8DEE9

! ===== urxvt =====
URxvt.perl-ext-common: default,matcher,resize-font

URxvt*font: xft:Hack Nerd Font Mono:size=10
URxvt.scrollBar: off
URxvt.internalBorder: 20

!! Copy/paste
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard

!! Clickable urls
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

https://google.com

!! Change font size [urxvt-resize-font-git]
URxvt.keysym.Control-minus:     resize-font:smaller
URxvt.keysym.Control-plus:      resize-font:bigger
URxvt.keysym.Control-equal:     resize-font:reset

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false
