#!/usr/bin/env bash

# Quick shortcuts to some dirs
alias dls="cd ~/Downloads"
alias docs="cd ~/Documents"
alias prjs="cd ~/projects"
alias pics="cd ~/Pictures"
alias conf="cd ~/.config"
alias vids="cd ~/Videos"
alias dots="cd ~/dotfiles"
alias bin="cd ~/bin"
alias tmp="cd /tmp"
alias shots="cd ~/Pictures/Screenshots"
alias ..="cd .."


# Enable colors for some commands
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias tree="tree -C"

# Some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# This is the real way to remove a package
alias ipython3="ipython3 --no-banner"

# I rather type subl than subl3
alias subl=subl3

# Cool warning when running naything with sudo
alias sudo="python3 ~/bin/sudoer_lecture.py && sudo"

# Run the pywal-web script. I cant be bothered to go into the dir
# where the script is located and run it from there.
alias pywal-web="python3 /home/siddharth/projects/pywal-web/server.py"

alias tmp="cd /tmp/"

# I prefer neovim
alias vim=nvim

# Easy access to configs
alias vimrc="nvim ~/.config/nvim/init.vim"

# The remaining storage
alias storage="df -h / --output=avail | tail -1 | xargs echo | sed 's/G/ GB/g'"
